<div class="wrap-login100">
    <form class="login100-form validate-form">
      <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
      </span>

      <span class="login100-form-title p-b-34 p-t-27">
        Log in
      </span>

      <div class="wrap-input100 validate-input" data-validate = "Select School">
        <select class="form-control" >
          <option value="">--Select School--</option>
                                      <option value="{{school.SchoolID}}" *ngFor="let school of schools">
                                        {{school.SchoolName}}
                                      </option>
        </select>
      </div>
      <div class="wrap-input100 validate-input" data-validate = "Select School">
          <select class="form-control">
            <option>User Type</option>
            <option>School</option>
            <option>Driver</option>
            <option>Parent</option>
          </select>
        </div>
      <div class="wrap-input100 validate-input" data-validate="Enter Mobile">
        <input class="form-control" type="text" name="pass" placeholder="Mobile">
      </div>

      <div class="contact100-form-checkbox">
        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
        <label class="label-checkbox100" for="ckb1">
          Remember me
        </label>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn">
          Login
        </button>
      </div>

      <div class="text-center p-t-90">
        <a class="txt1" href="#">
          Forgot Password?
        </a>
      </div>
      <div>
        <!-- {{GetLogin()}} -->
        </div>
    </form>
  </div>
